.auth-form {
  width: 18rem;
  height: 25rem;
  max-width: 80%;
  margin: 6rem auto;
  border: 3px solid black;
  padding: 2rem 2rem 0 2.5rem;
  border-radius: 10px;
  /* box-shadow: black; */

  border: 0.1px solid rgb(250, 249, 246);
  box-shadow: 0.3px 0.3px 5px 5px rgb(194, 192, 194);
}
.heading {
  margin-top: 0;
  text-align: center;
  font-size: 1.5rem;
}
.heading-line {
  border: hidden;
  margin-top: 2px;
  text-align: center;
  max-width: 20%;
  padding: 1.5px;
  background-color: #ffe600;
}
.form-ctrl {
  padding: 0.8rem;
  width: 100%;
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid grey;
}
.form-ctrl input {
  border: none;
  outline: none;
  background: none;
  display: block;
  font-size: 20px;
  width: 100%;
}
.form-ctrl input:active {
  outline: none;
}
.form-axon {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-axon button {
  border-radius: 8px;
  color: grey;
  font-weight: 900;
  background-color: gold;
  font: inherit;
}
.form-axon a {
  font-weight: 900;
  color: rgb(13, 139, 211);
  text-decoration: none;
}
.form-axon a:hover {
  font-weight: 900;
  color: rgb(21, 189, 240);
  text-decoration: none;
}
.form-axon button:hover {
  text-align: center;
  border-radius: 8px;
  color: white;
  background-color: rgb(172, 169, 169);
  font: inherit;
}
